@model Management.Models.Activity

@{
    ViewData["Title"] = "Details";
}



<div>
    <h1>Details</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDueDate)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignDate)
        </dd> *@
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedTo)
        </dd> *@
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_By)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated_By)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated_By)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status.StatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.priority.PriorityId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
